extends modules/template
block title 
	title Партнер

block content
	.wrapper
		.allContent
			include modules/navbar
			include modules/header
			include modules/weUs
			include modules/advantages
			include modules/services
			include modules/reviews
			include modules/catalog
			include modules/articles
			include modules/application
	
		include modules/footer