extends modules/template
block title 
	title Партнер

block content
	.wrapper
		.allContent
			include modules/navbar2
			include modules/bigForm
			include modules/reviewsBlock
	
		include modules/footer