extends modules/template
block title 
	title Партнер

block content
	.wrapper
		.allContent
			include modules/navbar2
			include modules/textBlock
			include modules/gallery
			include modules/text
	
		include modules/footer