<!--bigForm-->
section.bigForm
	.container
		h2 Оставить отзыв
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

		form(action="mail.php")#bigForm
			input(type="text", name="name", placeholder="Ваше имя")
			input(type="text", name="labelRev", placeholder="Тема отзыва", class="input-2")
			textarea(name="bigFormTextArea", cols="30", rows="10", placeholder="Напишите текст отзыва")
			button(class="button-1") Оставить отзыв
<!--bigForm CLOSE-->