<!--catalog-->
article.catalog#m_catalog
	.container
		h2 Каталог товаров
		.items
			.item.wow.fadeIn
				.wrap-img
					img(src="upload/t-1.png", alt="img")
				h4 Электросварочное оборудование
				.sale
					p 
						span Цена:
						| 1800 
						span
							sup руб.
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
				button(data-toggle="modal" data-target="#modal-1" class="button-1") Заказать сейчас

			.item.wow.fadeIn
				.wrap-img
					img(src="upload/t-2.png", alt="img")
				h4 Газопламенная аппаратура
				.sale
					p 
						span Цена:
						| 111800 
						span
							sup руб.
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
				button(data-toggle="modal" data-target="#modal-1" class="button-1") Заказать сейчас

			.item.wow.fadeIn
				.wrap-img
					img(src="upload/t-3.png", alt="img")
				h4 Материалы
				.sale
					p 
						span Цена:
						| 800 
						span
							sup руб.
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nisi ut aliquip ex ea commodo consequat. 
				button(data-toggle="modal" data-target="#modal-1" class="button-1") Заказать сейчас

			.item.wow.fadeIn
				.wrap-img
					img(src="upload/t-4.png", alt="img")
				h4 Приспособления
				.sale
					p 
						span Цена:
						| 1800675 
						span
							sup руб.
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				button(data-toggle="modal" data-target="#modal-1" class="button-1") Заказать сейчас

			.item.wow.fadeIn
				.wrap-img
					img(src="upload/t-5.png", alt="img")
				h4 Компрессорное оборудование
				.sale
					p 
						span Цена:
						| 18060 
						span
							sup руб.
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud oris nisi ut aliquip ex ea commodo consequat. 
				button(data-toggle="modal" data-target="#modal-1" class="button-1") Заказать сейчас

			.item.wow.fadeIn
				.wrap-img
					img(src="upload/t-6.png", alt="img")
				h4 Вентиляция
				.sale
					p 
						span Цена:
						| 180 
						span
							sup руб.
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit
				button(data-toggle="modal" data-target="#modal-1" class="button-1") Заказать сейчас

			.item.wow.fadeIn
				.wrap-img
					img(src="upload/t-7.png", alt="img")
				h4 Кабель
				.sale
					p 
						span Цена:
						| 1800434
						span
							sup руб.
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
				button(data-toggle="modal" data-target="#modal-1" class="button-1") Заказать сейчас

			.item.wow.fadeIn
				.wrap-img
					img(src="upload/t-8.png", alt="img")
				h4 Средства защиты сварщика
				.sale
					p 
						span Цена:
						| 1800 
						span
							sup руб.
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				button(data-toggle="modal" data-target="#modal-1" class="button-1") Заказать сейчас

			.item.wow.fadeIn
				.wrap-img
					img(src="upload/t-9.png", alt="img")
				h4 Строительное оборудование и инструменты
				.sale
					p 
						span Цена:
						| 1800 
						span
							sup руб.
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				button(data-toggle="modal" data-target="#modal-1" class="button-1") Заказать сейчас

			.item.wow.fadeIn
				.wrap-img
					img(src="upload/t-10.png", alt="img")
				h4 Сервисный центр
				.sale
					p 
						span Цена:
						| 1800 
						span
							sup руб.
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
				button(data-toggle="modal" data-target="#modal-1" class="button-1") Заказать сейчас
<!--catalog CLOSE-->