<!--footer-->
footer#m_contacts
	.container
		.contacts
			p.title Контакты
			.text
				.left
					p Горячая линия:
					p Приемная:
					p.address Адрес:
					p.email E-mail:

				.right
					p +7 (8692) 53-92-67
					p +7 (8692) 53-76-22
					p.address
						| г.Москва
						br
						| ул. Репена, д. 15/2
					p.email info@sait.ru
					p.itena
						| Разработано в 
						a(href="http://itena.ru/" target="_blank") itena
				
			
	div(id="map" style="width: 100%; height: 535px")
<!--footer CLOSE-->