<!--gallery-->
section.gallery
	.container
		h2 Галерея фото
		.thisGallery
			.item
				a(href="upload/g-1-b.jpg", rel="group", class="thisGalleryImg")
					img(src="upload/g-1-s.jpg", alt="img")
			.item
				a(href="upload/g-2-b.jpg", rel="group", class="thisGalleryImg")
					img(src="upload/g-2-s.jpg", alt="img")
			.item
				a(href="upload/g-3-b.jpg", rel="group", class="thisGalleryImg")
					img(src="upload/g-3-s.jpg", alt="img")
			.item
				a(href="upload/g-1-b.jpg", rel="group", class="thisGalleryImg")
					img(src="upload/g-1-s.jpg", alt="img")
			.item
				a(href="upload/g-2-b.jpg", rel="group", class="thisGalleryImg")
					img(src="upload/g-2-s.jpg", alt="img")
			.item
				a(href="upload/g-3-b.jpg", rel="group", class="thisGalleryImg")
					img(src="upload/g-3-s.jpg", alt="img")
			.item
				a(href="upload/g-2-b.jpg", rel="group", class="thisGalleryImg")
					img(src="upload/g-2-s.jpg", alt="img")
			.item
				a(href="upload/g-3-b.jpg", rel="group", class="thisGalleryImg")
					img(src="upload/g-3-s.jpg", alt="img")
<!--gallery CLOSE-->