<!--navbar2-->
nav.navbar.navbar-default(role='navigation')
	.container
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='index.html')
				img(src="images/logo-nav.png", alt="")
		// Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.menu2
				li.active
					a(href='index.html#m_weUs', class="linkNav2") О компании
				li
					a(href='index.html#m_services', class="linkNav2") Услуги
				li
					a(href='index.html#m_reviews', class="linkNav2") Отзывы
				li
					a(href='index.html#m_catalog', class="linkNav2") Каталог
				li
					a(href='index.html#m_articles', class="linkNav2") Статьи
				li
					a(href='index.html#m_contacts', class="linkNav2") Контакты

			ul
				li.phone
					div
						img(src="images/ic-phone.png", alt="img")
						p +7 (4742) 
							span 52-22-77
							a(href="/" data-toggle="modal" data-target="#modal-1") Заказать звонок
<!--navbar2 CLOSE-->
						
